@charset "utf-8";
#button li {
	float: right;
	width: 140px;
	text-align: center;
	border: 2px solid #333;
	display: block;
	overflow: hidden;
	height: 30px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}
#button li a {
	color: #333;
	text-decoration: none;
	display: block;
	width: 140px;
	height: 50px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: center;
	padding: 0px;
}
#button li a:hover {
	color: #FFF;
	background-color: #333;
	height: 30px;
	width: 140px;
	text-align: center;
}
#button #nav-store a {
	color: #FFF;
}
#button #nav-store a:visited {
        color: #FFF; 
	background-color: #333;
}#button #nav-store {
	color: #FFF;
	background-color: #333;
}
