body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	<body ONDRAGSTART="window.event.returnValue=false" ONCONTEXTMENU="window.event.returnValue=false" onSelectStart="event.returnValue=false">
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -2px;
	font-size: 2.8em;
	color: #FFFFFF;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 200%;
}

p, ol {
}

ul, ol {
}

a {
	color: #8A8A8A;
}

a:hover {
}



.container {
	width: 874px;
	margin: 80px;
}



#sidebar {
	float: left;
	width: 210px;
}

#poptrox {
	width: 1200px;
	margin: 0px 0px 0px 0px;
	
	
	
}

#gallery {
	margin: 10px;
	
        padding-top:0px; 
        padding-left:120px; 
        
        
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	padding: 10px;
}


.poptrox_popup
{
	position: relative;
	padding: 1em 1em 10em 1em;
	background: #ffffff;
}

