body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	<body ONDRAGSTART="window.event.returnValue=false" ONCONTEXTMENU="window.event.returnValue=false" onSelectStart="event.returnValue=false">
}



p, ul, ol {
	margin-top: 0;
	line-height: 200%;
}

p, ol {
}

ul, ol {
}

a {
	color: #8A8A8A;
}

a:hover {
}





#poptrox {
	width: 1200px;
	margin: 0px 0px 0px 0px;
	
	
	
}

#gallery {
	margin: 0px;
	
        padding-top:15px; 
        padding-left:100px; 
        
        
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	padding: 10px;
}


.poptrox_popup
{
	position: relative;
	padding: 1em 1em 10em 1em;
	background: #ffffff;
}

